@use "../../assets/variables" as *;

.toDoItem {
  padding: 10px;
  border: 1px solid black;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .task {
    padding: 10px;

    &--complete {
      text-decoration: line-through;
    }
  }
}
